<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>HealthHub Login</title>
</head>
<body>


<h2>HealthHub Login</h2>

<p th:if="${error}" th:text="${error}" style="color:red"></p>


<form th:action="@{/login}" method="post">
<table>
<tr>
<td>Name:</td>
<td><input type="text" name="name" required /></td>
</tr>
<tr>
<td>Password:</td>
<td><input type="password" name="password" required /></td>
</tr>
<tr>
<td colspan="2">
<button type="submit">Login</button>
<a th:href="@{/register}">Register</a>
</td>
</tr>
</table>
</form>

</body>
</html>