<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Available Programs</title>
</head>
<body>
<h2>Programs</h2>


<table border="1">
<tr>
<th>Name</th>
<th>Description</th>
<th>Action</th>
</tr>
<tr th:each="program : ${programs}">
<td th:text="${program.name}"></td>
<td th:text="${program.description}"></td>
<td>
<form th:action="@{/member/enroll}" method="post">
<input type="hidden" name="programId" th:value="${program.id}" />
<button type="submit">Enroll</button>
</form>
</td>
</tr>
</table>


<a th:href="@{/member/dashboard}">Back to Dashboard</a>
</body>
</html>