<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person List</title>
</head>
<body>

<h2>Person List</h2>

<a th:href="@{/person/add}">Add New Person</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>YOB</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Actions</th>
    </tr>

    <tr th:each="p : ${persons}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.yob}"></td>
        <td th:text="${p.weight}"></td>
        <td th:text="${p.height}"></td>
        <td>
            <a th:href="@{/person/update(id=${p.id})}">Update</a>
            |
            <a th:href="@{/person/delete(id=${p.id})}">
            Delete</a>
        </td>
    </tr>
</table>

</body>
</html>
